<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aragaer.jtt"
    android:versionCode="17"
    android:versionName="1.4.2.3" >

    <uses-sdk android:minSdkVersion="6"
        android:targetSdkVersion="17"/>

    <permission android:name="com.aragaer.jtt.JTT_SETTINGS"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.aragaer.jtt.JTT_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".JTTSettingsActivity" />
        <activity
            android:name=".JTTMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/JTTTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter android:label="@string/abbr_app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".JTTService"
            android:exported="false" />
        <receiver android:name=".JTTService$JTTStartupReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="JTTWidgetProvider$Widget1"
                android:icon="@drawable/widget1"
                android:label="@string/widget1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.aragaer.jtt.ACTION_JTT_SETTINGS" />
                <action android:name="com.aragaer.jtt.ACTION_JTT_TICK" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget1" />
        </receiver>
        <receiver android:name="JTTWidgetProvider$Widget12"
                android:icon="@drawable/widget12"
                android:label="@string/widget12">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.aragaer.jtt.ACTION_JTT_SETTINGS" />
                <action android:name="com.aragaer.jtt.ACTION_JTT_TICK" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget12" />
        </receiver>
    </application>
</manifest>
