<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aragaer.jtt"
    android:versionCode="30"
    android:versionName="1.6" >

    <uses-sdk android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <permission android:name="com.aragaer.jtt.permission.ALARM"
	    android:protectionLevel="signature" />
    <permission android:name="com.aragaer.jtt.permission.CLOCK"
	    android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="com.aragaer.jtt.permission.ALARM" />
    <uses-permission android:name="com.aragaer.jtt.permission.CLOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".Settings"
            android:launchMode="singleInstance" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/JTTTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter android:label="@string/abbr_app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".JttService"
            android:exported="false" />
        <service
            android:name=".core.TickService"
            android:exported="false" />
        <receiver android:name=".BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="WidgetProvider$Widget1"
                android:icon="@drawable/widget1"
                android:label="@string/widget1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.aragaer.jtt.action.TICK" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget1" />
        </receiver>
        <receiver android:name="WidgetProvider$Widget12"
                android:icon="@drawable/widget12"
                android:label="@string/widget12">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.aragaer.jtt.action.TICK" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget12" />
        </receiver>
        <provider android:name=".core.TransitionProvider"
            android:authorities="com.aragaer.jtt.provider.calculator"
            android:permission="com.aragaer.jtt.permission.CLOCK" />
        <provider android:name=".alarm.AlarmProvider"
            android:authorities="com.aragaer.jtt.provider.alarm"
            android:permission="com.aragaer.jtt.permission.ALARM" />
    </application>
</manifest>
